<div class="jumbotron">
    <h1 class="display-4 text-center">Mup Web Design</h1>
    <p class="text-center">What seperates us from the rest.</p>
</div>

<h3 class="text-center">Unique Selling Propostion</h3>
<p class="text-center">What we offer, that you won't find elsewhere.</p>

<p>Mup Web Design uses the most cutting edge tools, technologies and processes when making you a website. We using things like Angular, HTML, CSS, SASS, JavaScript, TypeScript and Bootstrap to streamline the design process and come up with the best possible design for you. You can be   
    assures you're in good hands and we hope you have a pleasant experience working with us. 
</p>
<p>
            You may have found out that other web designers are expensive, but look no further, we guarantee to make you a website at a cost that is both fair and reasonable. Our services don't only include
    website design, we also offer marketing, branding and consultation services. In particular, we use the latest digital marketing strategies to promote your new website to the world. Facebook and Google marketing services. We are skilled in the areas of SEO or search engine 
    optimization, to get you seen when people type in your business name into Google and other search engines. 
</p>
<P>
    Founded in 2016, we have years of experience designing, developing and marketing websites. You are in good hands. We will make your website for a once off fee, monthly or yearly payment options. No additonal cost for hosting or domains.
</P>

<img src="../../../assets/ban.png" alt="Mup Web Design" class="banner">
<div class="b"></div>