<div class="container">
<h3 class="text-center t">Contact</h3>
    <p class="tb text-center">We will respond quickly.</p>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-sm-12 col-md-8">
            <section id="conform">
            <form action="https://formspree.io/mupwebdesign@gmail.com" method="POST"> 
                        
                        <input type="text" class="form-control" name="fullName" placeholder="Full Name">
                        <input type="tel" class="form-control" name="phone" placeholder="Phone Number">
                        <input type="email" class="form-control" name="email" placeholder="Email Address">
                        <textarea name="msg" value="Message" class="form-control ta" placeholder="Message"></textarea>
                        <button type="submit" class="btn btn-block btn-success">Send</button>
            </form>
        </section>
        </div>

        <div class="col-md-2"></div>
    </div>

    <ul class="list-unstyled text-center">
        <li class="nav-item ib"><a href="tel:0892490923" class="nav-link text-small pb-0 bb"><i class="fas fa-phone fa-2x"></i>+353892490923</a></li>
        <li class="nav-item ib"><a href="mailto:info@mup.ie" class="nav-link text-small pb-0 bb"><i class="fas fa-envelope fa-2x"></i> info@mup.ie</a></li>
        <li class="nav-item ib"><a href="https://www.facebook.com/mupwebdesign" class="nav-link text-small pb-0 bb"><i class="fab fa-facebook-square fa-3x"></i> Facebook</a></li>
        <li class="nav-item ib"><a href="https://www.linkedin.com/in/mradamhoward" class="nav-link text-small pb-0 d-sm-block bb"><i class="fab fa-linkedin-in fa-3x"></i> LinkedIn</a></li>
        
      </ul>
    <div class="b"></div>
  </div>