.founder {
    width: 100%;
    border-radius: 50%;
}

.list-group-item:nth-child(5n+1){
    background-color: #222;
    color: white;
}
.list-group-item:nth-child(5n+2){
    background-color:  #444 ;
    color: white;
}
.list-group-item:nth-child(5n+3){
    background-color: #666;
}
.list-group-item:nth-child(5n+4){
    background-color: #888;
}
.list-group-item:nth-child(5n+5){
    background-color:#AAA;
}