<h3 class="text-center"><strong>About</strong></h3>

<h5><strong>Introduction</strong></h5>
<p>Founded in 2018, our team at Mup Web Design has been providing bespoke website design, web development, software development and digital marketing solutions to a wide array of customers and clients. We are committed to provide world-class software engineering solutions to the online market, specifically catering to our homeland, Ireland. </p>

<p>Based in Cobh, Co. Cork, we use the latest and cutting edge of tools and technologies to provide our development and engineering solutions. Dynamically implemented applications developed with powerful programming languages and frameworks such as:</p>
<h5 class="mt-3 mb-2 text-center"><strong>Programming Languages</strong></h5>
<ul class="list-group"> 
    <li class="list-group-item">Java</li>
    <li class="list-group-item">C++</li>
    <li class="list-group-item">Python</li>
    <li class="list-group-item">PHP</li>
    <li class="list-group-item">Go</li>
</ul>
<h5 class="mt-3 mb-2 text-center"><strong>Front-End</strong></h5>
<ul class="list-group"> 
    <li class="list-group-item">Angular</li>
    <li class="list-group-item">Bootstrap</li>
    <li class="list-group-item">Material</li>
    <li class="list-group-item">Polymer</li>
    <li class="list-group-item">SCSS</li>
</ul>
<h5 class="mt-3 mb-2 text-center"><strong>Server-side frameworks</strong></h5>
<ul class="list-group"> 
    <li class="list-group-item">Django</li>
    <li class="list-group-item">Spring</li>
    <li class="list-group-item">Laravel</li>
    <li class="list-group-item">Beego</li>
    <li class="list-group-item">Flask</li>
</ul>

<p>Furthermore, we not only know these languages and tools very well, we have creative qualities that allow us to create intuitive, customer-focused and bespoke software development solutions.</p>


<h5><strong>Marketing</strong></h5>

<p>We are capable of creating robust and cost effective marketing strategies, implementing creative design for content and choosing the right medium for your campaign. You can checkout our marketing services <a routerLink="/marketing">here</a>.</p>
<p>We have had much success with our marketing campaigns mainly on Google, Facebook and SEO. These are our go-to marketing solutions for increasing traffic to our products. </p>

<h5 class="text-center"><strong>Meet the Founder</strong></h5>
<h5 class="text-center">Adam Howard</h5>
<img src="assets/pro.jpg" alt="Adam Howard - Founder" class="founder">


<p class="text-center mt-5 mb-5">If you want to hear more about what we have to offer, don't hesitate to contact us through our mediums listed below.</p>