.web{
    display: block;
    margin: auto;
}

.res{
	width: 100%;
}

.banner{
    width: 100%;
}
.h5{
	color: white;
}
section{
	padding: 60px 0;
}
section .section-title{
	text-align:center;
	color:white;
	margin-bottom:50px;
	text-transform:uppercase;
}
#why-choose-us{
	background: #e2e2e2;
}
#why-choose-us .card{
	padding: 1rem!important;
	border: none;
	height: 180px;
	margin-bottom:1rem;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#why-choose-us .card:hover{
	-webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
	-moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
	box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}
#why-choose-us .card .card-block{
	padding-left: 50px;
    position: relative;
}
#why-choose-us .card .card-block a{
	color: #000565 !important;
	font-weight:700;
	text-decoration:none;
}
#why-choose-us .card .card-block a i{
	display:none;
	
}
#why-choose-us .card:hover .card-block a i{
	display:inline-block;
	font-weight:700;
	
}
#why-choose-us .card .card-block:before{
	font-family: FontAwesome;
    position: absolute;
    font-size: 39px;
    color: #000565  ;
    left: 0;
	-webkit-transition: -webkit-transform .2s ease-in-out;
    transition:transform .2s ease-in-out;
}
#why-choose-us .card .block-1:before{
    content: "\f1a0";
}
#why-choose-us .card .block-2:before{
    content: "\f303";
}
#why-choose-us .card .block-3:before{
    content: "\f3b8";
}
#why-choose-us .card .block-4:before{
    content: "\f48b";
}
#why-choose-us .card .block-5:before{
    content: "\f1da";
}
#why-choose-us .card .block-6:before{
    content: "\f3a5";
}
#why-choose-us .card:hover .card-block:before{
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);	
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}

#what-we-do{
	background: #e2e2e2;
}
#what-we-do .card{
	padding: 1rem!important;
	border: none;
	height: 180px;
	margin-bottom:1rem;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#what-we-do .card:hover{
	-webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
	-moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
	box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}
#what-we-do .card .card-block{
	padding-left: 50px;
    position: relative;
}
#what-we-do .card .card-block a{
	color: #000565 !important;
	font-weight:700;
	text-decoration:none;
}
#what-we-do .card .card-block a i{
	display:none;
	
}
#what-we-do .card:hover .card-block a i{
	display:inline-block;
	font-weight:700;
	
}
#what-we-do .card .card-block:before{
	font-family: FontAwesome;
    position: absolute;
    font-size: 39px;
    color: #000565  ;
    left: 0;
	-webkit-transition: -webkit-transform .2s ease-in-out;
    transition:transform .2s ease-in-out;
}
#what-we-do .card .block-1:before{
    content: "\f0e7";
}
#what-we-do .card .block-2:before{
    content: "\f0eb";
}
#what-we-do .card .block-3:before{
    content: "\f00c";
}
#what-we-do .card .block-4:before{
    content: "\f209";
}
#what-we-do .card .block-5:before{
    content: "\f0a1";
}
#what-we-do .card .block-6:before{
    content: "\f218";
}
#what-we-do .card:hover .card-block:before{
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);	
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}

.form-control{
    margin-bottom: 10px;
}

.mt-30{
	margin-top: 80px;
}



.exp{
	width: 60px;
	display: block;
	margin: auto;
	font-size: 26pt;
	text-align: center;
	color: white;
}

.cnt-wrap {
	width: 100%;
	height: 100px;
	background-color: #000fa8;
	border-radius: 5px;
	box-shadow: 0 8px 6px -6px black;
margin-bottom: 15px;
margin-top: 15px;
}

.s{
	color: white;
}

.mb20{
	margin-bottom: 50px;
}

.db{
	flex: 1;
}

@media only screen and (max-width: 768px){
	.bs-stepper-header{
		flex-direction: column;
	}
}

.l{
	margin-top: 30px;
}

.bdg{
	display: block;
	margin:  auto;
	width: 300px;
}



html,
body,
.bg-skew {
  height: 100%;
}

body {
  background: #222;
  text-align: center;
}


	


@media only screen and (max-width: 600px){
	.bg-skew {
		background: #000fa8;
		margin-left: -5vw;
		margin-right: -5vw;
		-webkit-transform: skew(0deg, -10deg);
		transform: skew(0deg, -10deg);
		padding: 200px 0;
		margin-top: 100px;
	  }
	  .bg-skew1 {
		background: #000fa8;
		margin-left: -9vw;
		margin-right: -9vw;
		-webkit-transform: skew(0deg, 10deg);
		transform: skew(0deg, 10deg);
		padding: 200px 0;
		margin-top: 100px;
	  }
	 
}



.jumbotron{
	/*background: url("../../../assets/circuit.jpg") 0 0 no-repeat;
	background-size: 100% 100%;*/
	height: 400px;	
	background-color: black;
	position: relative;
	margin-left: -40vw;
	margin-right: -40vw;
	height: 97vh;
	
}

@media only screen and (max-width: 600px){
	
	
}
@media only screen and (max-width: 768px){
	
	.h1{	
		font-size: 24pt;
		top: 70px;
	left: 0;
	right: 0;
	bottom: 0;
		margin: 0 auto;
		height: 3vh;
	}
	
	.p{
		top: 120px;
		left: 0;
right: 0;
bottom: 0;
	margin: 8px auto;
	width: 80vw;
	height:5vh;
	}

	.calltoact{
		left: 0;
		right: 0;
		top: 180px;
		margin: 0 auto;
	}
	

}

.mt-20{
	margin-top: 20px;
}

@media only screen and (max-width: 1200px) and (min-width: 769px){

	.p{
		top:  38vh;
		left: 0;
right: 0;
bottom: 0;
	margin: 5px auto;
	width: 80vw;
	height: 5vh;
	}

	.calltoact{
		left: 0;
		right: 0;
		top:  43vh;
		margin: 0 auto;
	}
	
	.h1{	
		height:3vh;
		font-size: 24pt;
		top: 33vh;
	left: 0;
	right: 0;
	bottom: 0;
		margin: 0 auto;
	}

	}

	
@media only screen and (min-width: 1200px){

	.p{
		top:  38vh;
		left: 0;
right: 0;
bottom: 0;
	margin: 0 auto;
	width: 80vw;
	height: 5vh;
	}

	.calltoact{
		left: 0;
		right: 0;
		top:  43vh;
		margin: 0 auto;
	}
	
	.h1{	
		height:3vh;
		font-size: 24pt;
		top: 33vh;
	left: 0;
	right: 0;
	bottom: 0;
		margin: 0 auto;
	}

	}

	
.op{
	position: absolute;
}

/*
.h1{	
	font-size: 24pt;
	top: 70px;
left: 0;
right: 0;
bottom: 0;
	margin: 0 auto;
}
*/
/*
.p{
	
left: 0;
right: 0;
bottom: 0;
	margin: 0 auto;
	width: 80vw;
}


.calltoact{
	left: 0;
	right: 0;
	top: 164px;
	margin: 0 auto;
}

*/


@media only screen and (min-width: 601px){
	
	.bg-skew {
		background: #000fa8;
		margin-left: -50vw;
		margin-right: -50vw;
		-webkit-transform: skew(0deg, -10deg);
		transform: skew(0deg, -10deg);
		padding: 200px 0;
		margin-top: 100px;
	  }

	  .bg-skew1 {
		background: #000fa8;
		margin-left: -50vw;
		margin-right: -50vw;
		-webkit-transform: skew(0deg, 10deg);
		transform: skew(0deg, 10deg);
		padding: 200px 0;
		margin-top: 100px;
	  }
}

.mt-100{
	margin-top: 100px;
}
.content1 {
  width: 100%;
  -webkit-transform: skew(0deg, 10deg);
  transform: skew(0deg, 10deg);
}

.content2 {
	width: 100%;
	-webkit-transform: skew(0deg, -10deg);
	transform: skew(0deg, -10deg);
  }
  




footer a {
  -webkit-transition: .3s all;
  transition: .3s all;
}






.content1,
footer {
}

.content1 {
  margin: 0 auto;
}






footer {
  padding-top: 300px;
}

footer a {
  text-decoration: none;
  color: tomato;
  padding: 5px
}

footer a:hover {
  background: tomato;
  color: #fff;
  border-radius: 3px;
}

.shadow {
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, .6);
}

$hexagon-width: 200px;
$hexagon-height: $hexagon-width*.55;
$hexagon-margin: 25px;
$hexagon-title-color: #fff;
$hexagon-border-color: #9f9f9f;
$hexagon-border-color--hover: #000fa8;
$hexagon-image-color: #3ea0eb;
$honeycomb-max-width: 1000px;
$viewport-thereshold: $hexagon-width + $hexagon-margin;

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');


*, *::before, *::after {
  box-sizing: border-box;
}

.honeycomb {
	

  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  align-items: center;
  max-width: $honeycomb-max-width;
  margin: 1px auto 100px auto;
  padding: 0;
  padding-bottom: 25px;
  /*min-height: 1000px;*/
  transform: translateY(#{$hexagon-height/4});

  &-cell {
    flex: 0 1 $hexagon-width;
    max-width: $hexagon-width;
    height: $hexagon-height;
    margin: $hexagon-height/2.1 $hexagon-margin/2 $hexagon-margin;
    position: relative;
    padding: 0.5em;

    text-align: center;
    z-index: 1;


    &__title {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      hyphens: auto;
      word-break: break-word;
      text-transform: uppercase;
      color: #fff;
      font-weight: 700;
      font-size: 1.75em;
      transition: opacity 350ms;
      
      > small {
        font-weight: 300;
        margin-top: 0.25em;
      }
    }

    &__image {
      object-fit: cover;
      object-position: center;
    }
    
    &::before, &::after {
      content: '';
    }

    &::before, &::after, &__image {
      top: -50%;
      left: 0;
      width: 100%;
      height: 200%;
      display: block;
      position: absolute;
      clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
      z-index: -1;
    }

    &::before {
      background: $hexagon-border-color;
      transform: scale(1.055);
    }

    &::after {
      background: $hexagon-image-color;
      opacity: 0.5;
      transition: opacity 350ms;
    }

    &:hover {
      
      .honeycomb-cell__title {
        opacity: 0;
      }
      
      &::before {
        background: $hexagon-border-color--hover;
      }

      &::after {
        opacity: 0;
      }
    }
  }

  &__placeholder{
    display:none;
    opacity: 0;
    width: $hexagon-width;
    margin: 0 $hexagon-margin/2;
  }
}

@media (max-width:#{2*$viewport-thereshold}){
  .honeycomb-cell {
    margin: #{$hexagon-margin/2 + $hexagon-height/2} $hexagon-margin;
  }
}

@media (min-width: #{2*$viewport-thereshold}) and (max-width:#{3*$viewport-thereshold}){
  .honeycomb-cell:nth-child(3n) {
    margin-right: calc(50% - #{$hexagon-width/2});
    margin-left: calc(50% - #{$hexagon-width/2});
  }

  .honeycomb__placeholder:nth-child(3n + 5) {
    display:block;
  }
}

@media (min-width: #{3*$viewport-thereshold}) and (max-width:#{4*$viewport-thereshold}) {
  .honeycomb-cell:nth-child(5n + 4) {
    margin-left: calc(50% - #{$hexagon-width + $hexagon-margin});
  }

  .honeycomb-cell:nth-child(5n + 5) {
    margin-right: calc(50% - #{$hexagon-width + $hexagon-margin});
  }

  .honeycomb__placeholder:nth-child(5n), .honeycomb__placeholder:nth-child(5n + 3) {
    display:block;
  }
}

@media (min-width: #{4*$viewport-thereshold}) {
  .honeycomb-cell:nth-child(7n + 5)  {
    margin-left: calc(50% - #{$hexagon-width*1.5 + $hexagon-margin});
  }

  .honeycomb-cell:nth-child(7n + 7), .honeycomb-cell:nth-child(7n + 5):nth-last-child(2) {
    margin-right: calc(50% - #{$hexagon-width*1.5 + $hexagon-margin});
  }

  .honeycomb__placeholder:nth-child(7n + 7), .honeycomb__placeholder:nth-child(7n + 9), .honeycomb__placeholder:nth-child(7n + 11){
    display:block;
  }
}

.client-img {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border: 4px solid #fff;
    margin: 0px auto 20px;
    border-radius: 100%;
}
.carousel-content {
    padding: 50px 0px;
}
.carousel-content h3 span {
    font-size: 17px;
    font-weight: normal;
    color: #e8e8e8;
    text-transform: uppercase;
}
.client-img img {
    width: 100%;
}
#testimonial {
	margin-top: 150px;
    text-align: center;
    padding: 40px 0px;
    color: #fff;
}
#testimonial .carousel-control-prev,
#testimonial .carousel-control-next {
    font-size: 36px;
}
#testimonial h2 {
    font-size: 40px;
    font-style: italic;
    border-bottom: 1px solid #7fbdff;
    padding-bottom: 20px;
    display: inline-block;
}

.blue{
 background-color: 	#000fa8;
}