
<div class="jumbotron aos-item" data-aos-mirror="true">
		<h1 class="display-4 text-center mt50per text-white  op"  data-aos="fade-down" >Mup Web Design</h1>
		<p class="text-center w op text-white" data-aos="zoom-in" data-aos-duration="3000">Professional, fast and affordable website design services in Cork and Ireland.  </p>
		<button routerLink="/contact" class="btn btn-primary web op" data-aos="zoom-in-up" data-aos-duration="3000">Click here if you want a website</button>
</div>


<div class="transparent">
	
		
	</div>
<img src="../../../assets/ban.png" alt="Mup Web Design" class="banner">

	<section id="what-we-do">
			<div class="bg-skew">

					<div class="content1">
		<div class="container">
			<div class="container-fluid">
			<h2 class="section-title mb-2 h1" data-aos="fade-down" data-aos-duration="3000">What we do</h2>
			<p class="text-center h5">Every business needs a website in this day and age.</p>
			<div class="row mt-5" data-aos="fade-right" data-aos-duration="2000">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-1">
							<h3 class="card-title">Fast</h3>
							<p class="card-text">We guarantee the website will be produced to a high quality and within a reasonable timeframe.</p>
					
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-2">
							<h3 class="card-title">Get your message across</h3>
							<p class="card-text">We will help you fast track your business by making your digital footprint.</p>
							
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-3">
							<h3 class="card-title">Responsive</h3>
							<p class="card-text">Your new website will work on all internet connected devices. Phones, tablets, laptops and computers.</p>
							
						</div>
					</div>
				</div>
			</div>
			<div class="row" data-aos="fade-left" data-aos-duration="2000">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-4">
							<h3 class="card-title">Free Hosting & Domains</h3>
							<p class="card-text">Choose from once off or monthly options. </p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-5">
							<h3 class="card-title">Search Engine Optimization</h3>
							<p class="card-text">We can get you seen on Google and other search engines.</p>
						
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-6">
							<h3 class="card-title">Digital Marketing</h3>
							<p class="card-text">Need more traffic? Use Google, Facebook ads and SEO.</p>
						
						</div>
					</div>
				</div>
			</div>
		</div>	
		</div>
	</div>
		</div>
	</section>

	<h3 class="text-center mt-100">Our Development Process</h3>

	<div class="container">
			<div id="stepper1" class="bs-stepper">
			  <div class="bs-stepper-header">
				<div class="step" data-target="#test-l-1">
				  <button class="step-trigger">
					<span class="bs-stepper-circle">1</span>
					<span class="bs-stepper-label">Communication</span>
				  </button>
				</div>
				<div class="line"></div>
				<div class="step" data-target="#test-l-2">
				  <button class="step-trigger">
					<span class="bs-stepper-circle">2</span>
					<span class="bs-stepper-label">Planning</span>
				  </button>
				</div>
				<div class="line"></div>
				<div class="step" data-target="#test-l-3">
				  <button class="step-trigger">
					<span class="bs-stepper-circle">3</span>
					<span class="bs-stepper-label">Modeling</span>
				  </button>
				</div>
				<div class="line"></div>
				<div class="step" data-target="#test-l-4">
				  <button class="step-trigger">
					<span class="bs-stepper-circle">4</span>
					<span class="bs-stepper-label">Development</span>
				  </button>
				
				
			  </div>
			  <div class="line"></div>
			  <div class="step" data-target="#test-l-5">
					<button class="step-trigger">
					  <span class="bs-stepper-circle">5</span>
					  <span class="bs-stepper-label">Deployment</span>
					</button>
				  
				  
				</div>
			  
</div>

			<div class="bs-stepper-content db">
					
					  <div id="test-l-1" class="content">
						<p>Communication stage is where we converse with our clients to write up the requirements. Feasability assessments will be made to ensure that it is possible to produce the product.</p>
					  </div>
					  <div id="test-l-2" class="content">
						<p>Planning stage is where we will turn the requirements into chronological steps to develop some type of architecture for the system.</p>
					  </div>
					  <div id="test-l-3" class="content">
						  <p>Modeling is when we turn the steps produced in planning into mockup drawings. Photoshop and Pencil are used to create wireframes.</p>
						
					  </div>
					  <div id="test-l-4" class="content">
							<p>Development is when we turn the wire frames into first draft product/system. Using an iterative approach we develop the draft into further design types to produce the best quality result.</p>
						  </div>
						  <div id="test-l-5" class="content">
								<p>Deployment is when we are happy with the development stages produce and put the application live. This may be publishing to AWS or the respective mobile app stores.</p>
							  </div>
					 
				
				  </div>
		 
		</div>
	
	<h3 class="text-center l">What is Responsive Web Design?</h3>	
	<p>Responsive Web Design is the process of making a website that scales and adapts to the device it is running on. When it is on a phone it will scale to a portrait mode which looks better.</p>
	<img src="../../../assets/res.png" alt="Responsive" class="res">

	<section id="why-choose-us">
			<div class="bg-skew1">

					<div class="content2">
		<div class="container">
			<div class="container-fluid">
			<h2 class="section-title mb-2 h1" data-aos="fade-down" data-aos-duration="3000">Why choose us</h2>
			<p class="text-center h5">Make the move.</p>
			<div class="row mt-5" data-aos="fade-right" data-aos-duration="2000">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-1">
							<h3 class="card-title">Google Compliant</h3>
							<p class="card-text">Designed with search in mind.</p>
					
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-2">
							<h3 class="card-title">World-class design</h3>
							<p class="card-text">We make every project unique.</p>
							
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-3">
							<h3 class="card-title">Dynamic</h3>
							<p class="card-text">Hand-coded, no CMS.</p>
							
						</div>
					</div>
				</div>
			</div>
			<div class="row" data-aos="fade-left" data-aos-duration="2000">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-4">
							<h3 class="card-title">Quick turnaround</h3>
							<p class="card-text">Product delivered in timely manner. </p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-5">
							<h3 class="card-title">Proven track-record</h3>
							<p class="card-text">Our portfolio speaks for itself.</p>
						
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-6">
							<h3 class="card-title">Committed to quality</h3>
							<p class="card-text">We don't cut corners.</p>
						
						</div>
					</div>
				</div>
			</div>
		</div>	
		</div>
	</div>
		</div>
	</section>

	
	
	



	<h3 class="text-center mt-30">Our Numbers</h3>
	<div class="row">

		<div class="col-sm-12 col-md-3" data-aos="fade-right" data-aos-duration="2000">
			<div class="cnt-wrap">
				<ng2-odometer [number]="number" [animation]="'slot-machine'"
				[format]="'d'" class="exp" ></ng2-odometer>
				<h5 class="text-center s">Years Experience</h5>
				</div>
		</div>
		<div class="col-sm-12 col-md-3" data-aos="fade-right" data-aos-duration="2000">
				<div class="cnt-wrap">
			
			<ng2-odometer [number]="number1" [animation]="'slot-machine'"
			[format]="'d'" [config]="{ }" class="exp"></ng2-odometer>
			<h5 class="text-center s">Happy Customers</h5>
		</div>
		</div>
		<div class="col-sm-12 col-md-3" data-aos="fade-left" data-aos-duration="2000">
				<div class="cnt-wrap">
				<ng2-odometer [number]="number2" [animation]="'slot-machine'"
				[format]="'d'" [config]="{ }" class="exp"></ng2-odometer>
				<h5 class="text-center s">Projects</h5>
			</div>
		</div>
		<div class="col-sm-12 col-md-3" data-aos="fade-left" data-aos-duration="2000">
				<div class="cnt-wrap">
			<ng2-odometer [number]="number3" [animation]="'slot-machine'"
			[format]="'d'" [config]="{ }" class="exp"></ng2-odometer>
			<h5 class="text-center s">Tools & Frameworks</h5>
		</div></div>
	</div>




    
    <h3 class="text-center">Contact</h3>
    <p class="tb text-center">We will respond quickly.</p>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-sm-12 col-md-8">
            <form action="https://formspree.io/mupwebdesign@gmail.com" method="POST"> 
                        
                        <input type="text" class="form-control" name="fullName" placeholder="Full Name">
                        <input type="tel" class="form-control" name="phone" placeholder="Phone Number">
                        <input type="email" class="form-control" name="email" placeholder="Email Address">
                        <textarea name="msg" value="Message" class="form-control ta" placeholder="Message"></textarea>
                        <button type="submit" class="btn btn-block btn-success">Send</button>
            </form>
        </div>

        <div class="col-md-2"></div>
	</div>
	<p class="tb text-center">You can email us at <a href="mailto:info@mup.ie">info@mup.ie</a> or ring us on <a href="tel:+353892490923">+353892490923</a>.</p>

	

	

    