<div class="jumbotron aos-item" data-aos-mirror="true">
    <h1 class="display-4 text-center"  data-aos="fade-down" >Mup Web Design</h1>
    <p class="text-center" data-aos="zoom-in" data-aos-duration="3000">Professional, fast and affordable website design services.  </p>
    <button routerLink="/contact" class="btn btn-primary web" data-aos="zoom-in-up" data-aos-duration="3000">Click here if you want a website</button>
</div>
<img src="../../../assets/ban.png" alt="Mup Web Design" class="banner">

	<section id="what-we-do">
		<div class="container-fluid">
			<h2 class="section-title mb-2 h1" data-aos="fade-down" data-aos-duration="3000">What we do</h2>
			<p class="text-center text-muted h5">Every business needs a website in this day and age.</p>
			<div class="row mt-5" data-aos="fade-right" data-aos-duration="2000">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-1">
							<h3 class="card-title">Fast</h3>
							<p class="card-text">We guarantee the website will be produced to a high quality and within a reasonable timeframe.</p>
					
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-2">
							<h3 class="card-title">Get your message across</h3>
							<p class="card-text">We will help you fast track your business by making your digital footprint.</p>
							
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-3">
							<h3 class="card-title">Responsive</h3>
							<p class="card-text">Your new website will work on all internet connected devices. Phones, tablets, laptops and computers.</p>
							
						</div>
					</div>
				</div>
			</div>
			<div class="row" data-aos="fade-left" data-aos-duration="2000">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-4">
							<h3 class="card-title">Free Hosting & Domains</h3>
							<p class="card-text">Choose from once off or monthly options. </p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-5">
							<h3 class="card-title">Search Engine Optimization</h3>
							<p class="card-text">We can get you seen on Google and other search engines.</p>
						
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-6">
							<h3 class="card-title">Digital Marketing</h3>
							<p class="card-text">Need more traffic? Use Google Ads and Facebook advertising to showcase your business to a wide audience.</p>
						
						</div>
					</div>
				</div>
			</div>
		</div>	
	</section>
	
	<h3 class="text-center">What is Responsive Web Design?</h3>	
	<p>Responsive Web Design is the process of making a website that scales and adapts to the device it is running on. For example, when it is on a phone it will scale to a portrait mode that will look much better. Take a look at the images below to get a better idea.</p>
	<img src="../../../assets/res.png" alt="Responsive" class="res" data-aos="flip-right" data-aos-duration="3000">
    
    <h3 class="text-center">Contact</h3>
    <p class="tb text-center">We will respond quickly.</p>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-sm-12 col-md-8">
            <form action="https://formspree.io/mupwebdesign@gmail.com" method="POST"> 
                        
                        <input type="text" class="form-control" name="fullName" placeholder="Full Name">
                        <input type="text" class="form-control" name="businessName" placeholder="Business Name">
                        <input type="text" class="form-control" name="location" placeholder="Location">
                        <input type="tel" class="form-control" name="phone" placeholder="Phone Number">
                        <input type="email" class="form-control" name="email" placeholder="Email Address">
                        <textarea name="msg" value="Message" class="form-control ta" placeholder="Message"></textarea>
                        <button type="submit" class="btn btn-block btn-success">Send</button>
            </form>
        </div>

        <div class="col-md-2"></div>
    </div>

    <p class="tb text-center">You can email us at mupwebdesign@gmail.com or ring us on +353892490923 </p>
    