<div class="container">
        <h3 class="text-center">Portfolio</h3>

        <p>Over the years we have made many projects ranging from front end websites, full stack web development, mobile apps and desktop application development projects.</p>
        

<div class="row">
    <div class="col-md-6 col-sm-12">
            <p>An example of a website we made is <a href="https://www.rapidmedia.marketing/" target="_blank">Rapid Media Marketing Social Media Agency</a>. </p>
            <a href="https://www.rapidmedia.marketing/" target="_blank">  <img src="../../assets/rapid1.PNG" alt="" class="wide"></a>
            <br>
            <br>

            
        </div>
    <div class="col-md-6 col-sm-12">
        <p>Another website we made, is <a href="https://alltreeservices.ie" target="_blank">All Tree Services</a>. It is responsively designed. It works on phones and computers.</p>
            <a href="https://alltreeservices.ie/" target="_blank">  <img src="../../assets/alltreeservices-web.PNG" alt="" class="wide"></a>
    </div>
</div>







<p class="mt-3">Aside from web development projects we have a huge interest in software development with the worlds most powerful and modern programming languages. You can find out more information on our <a href="https://github.com/mupml/" target="_blank">GitHub here</a> to see all of our interests and workings.</p>

<p>On our Github, we have projects developed in C++, Java, Python and Angular. There are even the code for this website and Rapid Media on the Github so you can see our style. Through continuous integration, AWS clones these repositories and builds the projects on their systems to produce a production build. Linked to a domain, these production builds are hosted on a S3 bucket and hosted using Cloudfront, all through the Amplify interface.</p>
<p>We hope you now know a bit more about what we do. If you would like to find out more examples of our projects, please message on any medium listed below. Thank you. </p>

<p>It is our mission to help your business increase your revenues by taking advantage of the plethora of opportunities the online market holds in store.</p>
</div>