.cards{
    height: 50px;
}

.bg-dark{
    background-color: #000565 !important;
}

.f{
    font-family: "FaktSoft", Helvetica, Arial, sans-serif!important;
    color: black;
    text-align: center;
}  

.v{
    display: inline-block;
    margin: auto;
}

h3{
    margin-top: 20px;
}