<app-navbar></app-navbar>

<div class="container">
<router-outlet></router-outlet>
</div>

<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container">
        <div class="row bg-white rounded-0 m-0 shadow-sm">
          <div class="col-lg-12 col-xl-12">
            <div class="p-4">
              <div class="row">
                
                <div class="col-lg-6 mb-4">
                  <h6 class="f">Software Development</h6>
                  <ul class="list-unstyled">
                    <li class="nav-item"><a routerLink="/development" fragment='web' class="nav-link text-small pb-0 uu">Website Design</a></li>
                    <li class="nav-item"><a routerLink="/development" fragment='web' class="nav-link text-small pb-0 uu">Domains & Fast Hosting</a></li>
                    <li class="nav-item"><a routerLink="/development" fragment='fswd' class="nav-link text-small pb-0 uu">Full Stack Web Development</a></li>
                    <li class="nav-item"><a routerLink="/development" fragment='ecom' class="nav-link text-small pb-0 uu">Ecommerce Stores</a></li>
                    <li class="nav-item"><a routerLink="/development" fragment='mob' class="nav-link text-small pb-0 uu">Mobile App Development</a></li>
                    <li class="nav-item"><a routerLink="/development" fragment='desk' class="nav-link text-small pb-0 uu">Desktop Application Development</a></li>
                    <li class="nav-item"><a routerLink="/development" fragment='graph' class="nav-link text-small pb-0 uu">Graphic Design</a></li>
                    <li class="nav-item"><a routerLink="/development" fragment='con' class="nav-link text-small pb-0 uu">Consultation</a></li>
                  </ul>
                </div>
                <div class="col-lg-6 mb-4">
                  <h6 class="f">Digital Marketing</h6>
                  <ul class="list-unstyled">
                      <li class="nav-item"><a routerLink="/marketing" fragment='sem' class="nav-link text-small pb-0 uu">Search Engine Ads</a></li>
                      <li class="nav-item"><a routerLink="/marketing" fragment='seo' class="nav-link text-small pb-0 uu">Search Engine Optimization</a></li>
                      <li class="nav-item"><a routerLink="/marketing" fragment='email' class="nav-link text-small pb-0 uu">Email Marketing</a></li>
                      <li class="nav-item"><a routerLink="/marketing" fragment='ads'class="nav-link text-small pb-0 uu">Google AdSense</a></li>
                    <li class="nav-item"><a routerLink="/marketing" fragment='fb' class="nav-link text-small pb-0 uu">Facebook Ads & Pages</a></li>
                    <li class="nav-item"><a routerLink="/marketing" fragment='lnkd' class="nav-link text-small pb-0 uu">LinkedIn Ads & Pages</a></li>
                    <li class="nav-item"><a routerLink="/marketing" fragment='yt' class="nav-link text-small pb-0 uu">YouTube Ads & Channels</a></li>
                    <li class="nav-item"><a routerLink="/marketing" fragment='twitter' class="nav-link text-small pb-0 uu">Twitter Ads & Pages</a></li>
                    
                    
                   
                  </ul>
                </div>
                
                <div class="col-sm-12 mb-4">
                  <h6 class="f">Contact</h6>
                  <ul class="list-unstyled text-center">
                    <li class="nav-item v"><a routerLink="/contact" fragment='conform' class="nav-link text-small pb-0 d-sm-block uu"><i class="far fa-id-card fa-2x"></i> Contact Form</a></li>
                    <li class="nav-item v"><a href="tel:0892490923" class="nav-link text-small pb-0 d-sm-block uu"><i class="fas fa-phone fa-2x"></i>+353892490923</a></li>
                    <li class="nav-item v"><a href="mailto:mupwebdesign@gmail.com" class="nav-link text-small pb-0 d-sm-block uu"><i class="fas fa-envelope fa-2x"></i> mupwebdesign@gmail.com</a></li>
                    <li class="nav-item v"><a href="https://www.facebook.com/mupwebdesign" class="nav-link text-small pb-0 d-sm-block uu"><i class="fab fa-facebook-square fa-3x"></i> Facebook</a></li>
                    
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <h4 class="text-center">We accept</h4>
    <div class="container text-center">
      <img src="https://molfar-comics.com/wp-content/uploads/2019/04/visa-and-mastercard-logos-logo-visa-png-logo-visa-mastercard-png-visa-logo-white-png-awesome-logos.png" alt="" class="cards">
<br>
      <br>
      <h5 class="text-center">Based in</h5>
      <h5 class="text-center">Cobh, Co. Cork, Ireland.</h5>
    <br>
      <small>&copy; Mup Web Design 2020, All rights reserved.</small>
    </div>
  </footer>