
<app-navbar></app-navbar>

<div class="skew">
	<div class="content">

<router-outlet></router-outlet>

</div>
</div>
<div class="wave-container">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" ><path fill="#000565" fill-opacity="1" d="M0,288L40,245.3C80,203,160,117,240,101.3C320,85,400,139,480,170.7C560,203,640,213,720,186.7C800,160,880,96,960,64C1040,32,1120,32,1200,53.3C1280,75,1360,117,1400,138.7L1440,160L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"></path></svg>
    </div>
<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container">
        <div class="row bg-white rounded-8 m-0 shadow-sm">
          <div class="col-lg-12 col-xl-12">
            <div class="p-4">
              <div class="row">
                
                <div class="col-lg-6 mb-4">
                  <h6 class="f">Software Development</h6>
                  <ul class="list-unstyled">
                    <li class="nav-item"><a routerLink="/development" fragment='web' class="nav-link text-small pb-0 uu">Website Design</a></li>
                    <li class="nav-item"><a routerLink="/development" fragment='web' class="nav-link text-small pb-0 uu">Domains & Fast Hosting</a></li>
                    <li class="nav-item"><a routerLink="/development" fragment='fswd' class="nav-link text-small pb-0 uu">Full Stack Web Development</a></li>
                    <li class="nav-item"><a routerLink="/development" fragment='ecom' class="nav-link text-small pb-0 uu">Ecommerce Stores</a></li>
                    <li class="nav-item"><a routerLink="/development" fragment='mob' class="nav-link text-small pb-0 uu">Mobile App Development</a></li>
                    <li class="nav-item"><a routerLink="/development" fragment='desk' class="nav-link text-small pb-0 uu">Desktop Application Development</a></li>
                    <li class="nav-item"><a routerLink="/development" fragment='graph' class="nav-link text-small pb-0 uu">Graphic Design</a></li>
                    <li class="nav-item"><a routerLink="/development" fragment='con' class="nav-link text-small pb-0 uu">Business Consulting</a></li>
                  </ul>
                </div>
                <div class="col-lg-6 mb-4">
                  <h6 class="f">Digital Marketing</h6>
                  <ul class="list-unstyled">
                      <li class="nav-item"><a routerLink="/marketing" fragment='sem' class="nav-link text-small pb-0 uu">Search Engine Ads</a></li>
                      <li class="nav-item"><a routerLink="/marketing" fragment='seo' class="nav-link text-small pb-0 uu">Search Engine Optimization</a></li>
                      <li class="nav-item"><a routerLink="/marketing" fragment='email' class="nav-link text-small pb-0 uu">Email Marketing</a></li>
                      <li class="nav-item"><a routerLink="/marketing" fragment='ads'class="nav-link text-small pb-0 uu">Google AdSense</a></li>
                    <li class="nav-item"><a routerLink="/marketing" fragment='fb' class="nav-link text-small pb-0 uu">Facebook Ads & Pages</a></li>
                    <li class="nav-item"><a routerLink="/marketing" fragment='lnkd' class="nav-link text-small pb-0 uu">LinkedIn Ads & Pages</a></li>
                    <li class="nav-item"><a routerLink="/marketing" fragment='yt' class="nav-link text-small pb-0 uu">YouTube Ads & Channels</a></li>
                    <li class="nav-item"><a routerLink="/marketing" fragment='twitter' class="nav-link text-small pb-0 uu">Twitter Ads & Pages</a></li>
                    
                    
                   
                  </ul>
                </div>
                
                <div class="col-sm-12 mb-4">
                  <h6 class="f">Contact</h6>
                  <ul class="list-unstyled text-center">
                    <li class="nav-item v"><a routerLink="/contact" fragment='conform' class="nav-link text-small pb-0 d-sm-block uu"><i class="far fa-id-card fa-2x"></i> Contact Form</a></li>
                    <li class="nav-item v"><a href="tel:0892490923" class="nav-link text-small pb-0 d-sm-block uu"><i class="fas fa-phone fa-2x"></i>+353892490923</a></li>
                    <li class="nav-item v"><a href="mailto:info@mup.ie" class="nav-link text-small pb-0 d-sm-block uu"><i class="fas fa-envelope fa-2x"></i> info@mup.ie</a></li>
                    <li class="nav-item v"><a href="https://www.facebook.com/mupwebdesign" class="nav-link text-small pb-0 d-sm-block uu"><i class="fab fa-facebook-square fa-3x"></i> Facebook</a></li>
                    <li class="nav-item v"><a href="https://www.linkedin.com/in/mradamhoward" class="nav-link text-small pb-0 d-sm-block uu"><i class="fab fa-linkedin-in fa-3x"></i> LinkedIn</a></li>
                    
                    
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <br>  
    <div class="container">
<div class="row">
      <div class="col-sm-12 col-md-4"><h4 class=""><strong>WE ACCEPT</strong> </h4>
        <img src="https://molfar-comics.com/wp-content/uploads/2019/04/visa-and-mastercard-logos-logo-visa-png-logo-visa-mastercard-png-visa-logo-white-png-awesome-logos.png" alt="" class="cards">
  
      </div>
      <br>
      <div class="col-sm-12 col-md-4">
          

        <h4><strong>HEADQUARTERS</strong></h4>
        <h5 class="">Based in</h5>
        <h5 class="">Kilgarvan, Cobh, Co. Cork, Ireland.</h5>
      
        </div>
        
        
      <div class="col-sm-12 col-md-4">
          

          <h4> <strong> LEGAL</strong></h4>
          <a routerLink="/privacy-policy" class="legal legallink">Privacy Policy</a>
          <a routerLink="/terms" class="legal legallink">Terms &amp; Conditions</a>
          <small class="copy">&copy; Mup Web Design 2020, All rights reserved.</small>
      </div>
    </div>

   

  
    
         
          
         
          
       
      
    </div>
  </footer>