.fs{
    width: 100%;
}

h3{
    margin-top: 20px;
}

#accordion {
    margin-bottom: 20px;

}
#accordion1 {
    margin-bottom: 20px;

}
#accordion2 {
    margin-bottom: 20px;

}
#accordion3 {
    margin-bottom: 20px;

}
#accordion4 {
    margin-bottom: 20px;

}
#accordion5 {
    margin-bottom: 20px;

}
#accordion6 {
    margin-bottom: 20px;

}

.cons{
    display: block;
    margin-bottom: 20px;
}