<section id="web">

    <h3 class="text-center">Website Design</h3>

    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                        Introduction
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">

                    <p>At Mup Web Design we go above and beyond to deliver to our clients requirements. We use the
                        cutting edge of web development technologies to provide high quality web design services. If
                        there is any aspect to this website or any other website for that matter, that sparks your
                        interest, an implementation can be made. We can mimic other websites and make them custom for
                        you.

                    </p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                        aria-expanded="false" aria-controls="collapseTwo">
                        Elements
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <h5>Things you can get in your new website:</h5>
                    <ul class="list-group">
                        <li class="list-group-item">Navigation bars with links and other crucial information</li>
                        <li class="list-group-item">Services listed</li>
                        <li class="list-group-item">Contact forms</li>
                        <li class="list-group-item">Social Media links</li>
                        <li class="list-group-item">Calendar integration</li>
                        <li class="list-group-item">Video integration</li>
                        <li class="list-group-item">
                            Photos in a slideshow or standalone
                        </li>
                        <li class="list-group-item">
                            A wide range of domain options with brand new domain endings
                        </li>
                        <li class="list-group-item">Premium hosting with Amazon Web Services</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                        aria-expanded="false" aria-controls="collapseThree">
                        Pricing
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    <p>We offer mutiple payment plans. You can choose from once off, monthly or yearly payment options.
                        We accept Visa, Mastercard, SEPA bank transfers, cash and PayPal transfers. We're sure there's
                        an option there that will meet your needs.</p>

                    <h5>Our websites are:</h5>
                    <ul class="list-group">
                        <li class="list-group-item">Fast</li>
                        <li class="list-group-item">Affordable</li>
                        <li class="list-group-item">High quality</li>
                        <li class="list-group-item">Designed with the customer put first</li>
                        <li class="list-group-item">Responsive. Will work on all internet connected devices. Phone,
                            tables, laptops and desktops.</li>
                        <li class="list-group-item">Curated to make the experience as easy as possible.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>




    <h4></h4>
    <div class="img-bg">
        <div class="container">
    <img src="../../../assets/responsive.png" alt="" class="fs">
</div>
</div>
   
    <div class="img-bg">
            <div class="container">
                    <h5 class="text-center">Our process of software development</h5>

        <img src="../../../assets/software-development-life-cycle.png" alt="" class="fs">
    </div>
</div>

</section>
<section id="fswd">
        <h3 class="text-center">Full Stack Web Development</h3>
        <div id="accordion3">
                <div class="card">
                  <div class="card-header" id="headingOne3">
                    <h5 class="mb-0">
                      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne3" aria-expanded="true" aria-controls="collapseOne">
                        Introduction
                      </button>
                    </h5>
                  </div>
              
                  <div id="collapseOne3" class="collapse show" aria-labelledby="headingOne3" data-parent="#accordion3">
                    <div class="card-body">
                            <p>
                                    What is full stack web development? Full stack web development is dynamic, database oriented and has a back end.
                                    So, what exactly does that mean? By dynamic, we mean the content of the website changes. For example, new
                                    products being added, or a customer adds to a cart. Facebook, Twitter and Youtube, to name a few
                                    are full stack web applications. They have content that is loaded from a database and a content delivery
                                    network, which changes over time. Your website can be full stack if you so wish, some of the examples of what we
                                    can do, are products listed, contact forms, login logout, add to cart, blog posts and much more. If you have an
                                    idea for a website that, has content that changes from an administerative level user and serves customers,
                                    look no further, we've got you covered.
                                </p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingTwo3">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo3" aria-expanded="false" aria-controls="collapseTwo">
                        Technologies
                      </button>
                    </h5>
                  </div>
                  <div id="collapseTwo3" class="collapse" aria-labelledby="headingTwo3" data-parent="#accordion3">
                    <div class="card-body">

                            <ul class="list-group">
                                    <li class="list-group-item">Angular</li>
                                    <li class="list-group-item">
                                        Bootstrap
                                    </li>
                                    <li class="list-group-item">SCSS</li>
                                    <li class="list-group-item">Python</li>
                                    <li class="list-group-item">Django</li>
                                    <li class="list-group-item">MySQL</li>
                                    <li class="list-group-item">Java</li>
                                    <li class="list-group-item">Spring Boot</li>
                                    <li class="list-group-item">ORM</li>
                                </ul>
                    </div>
                  </div>
                </div>
            
              </div>


 





    <div class="img-bg">
            <div class="container">
        <img src="../../../assets/fs.jpg" alt="" class="fs">
    </div>
    </div>

</section>

<section id="ecom">
    <h3 class="text-center">Ecommerce Stores</h3>

    <div id="accordion4">
            <div class="card">
              <div class="card-header" id="headingOne4">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne4" aria-expanded="true" aria-controls="collapseOne">
                    Introduction
                  </button>
                </h5>
              </div>
          
              <div id="collapseOne4" class="collapse show" aria-labelledby="headingOne4" data-parent="#accordion4">
                <div class="card-body">
                        <p>What can we do for someone who just wants a simple store to sell their products? The answer is Shopify. We can
                                set up a Shopify store for you, with your products, prices, images, descriptions, add to cart button, shopping
                                cart, checkout and extremely secure. Shopify
                                is the leader of online store generators and will likely be the best option for you. They feature an
                                administerative interface, which shows you your orders, customer information, statistics and so much more.
                                Shopify is very easy to use and is very cheap.
                            </p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo4">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo4" aria-expanded="false" aria-controls="collapseTwo">
                    Advantages
                  </button>
                </h5>
              </div>
              <div id="collapseTwo4" class="collapse" aria-labelledby="headingTwo4" data-parent="#accordion4">
                <div class="card-body">
                        <ul class="list-group">
                                <li class="list-group-item">Cheap</li>
                                <li class="list-group-item">Versatile</li>
                                <li class="list-group-item">Custom Domain Support</li>
                                <li class="list-group-item">Themes</li>
                                <li class="list-group-item">Secure</li>
                                <li class="list-group-item">Robust</li>
                                <li class="list-group-item">Admin panel</li>
                            </ul>

                </div>
              </div>
            </div>
            
          </div>

    
 

    <div class="img-bg">
            <div class="container">
        <img src="../../../assets/shopify.png" alt="" class="fs">
    </div>
    </div>
</section>

<section id="mob">
    <h3 class="text-center">Mobile App Development</h3>

    <div id="accordion1">
        <div class="card">
            <div class="card-header" id="headingOne1">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne1" aria-expanded="true"
                        aria-controls="collapseOne1">
                        Introduction
                    </button>
                </h5>
            </div>

            <div id="collapseOne1" class="collapse show" aria-labelledby="headingOne1" data-parent="#accordion1">
                <div class="card-body">
                    <p>Mobile app development is the process of undertaking software development processes to produce an
                        app that works on a smartphone. There are many tools out there to help software
                        engineers/developers to create these apps. Examples include Android studio and XCode for iOS.
                        There is also cross platform design frameworks
                        that allow us to create apps for iOS and Android, from a single codebase i.e. one project. Dart
                        and Flutter are the programming language and framework we use to create apps for iOS and
                        Android.
                    </p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo1">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo1"
                        aria-expanded="false" aria-controls="collapseTwo1">
                        Content
                    </button>
                </h5>
            </div>
            <div id="collapseTwo1" class="collapse" aria-labelledby="headingTwo1" data-parent="#accordion1">
                <div class="card-body">
                    <h5>What can you get in your new mobile app:</h5>

                    <ul class="list-group">
                        <li class="list-group-item">Header bars</li>
                        <li class="list-group-item">Cards</li>
                        <li class="list-group-item">Forms</li>
                        <li class="list-group-item">Tabs</li>
                        <li class="list-group-item">Bottom tabs</li>
                        <li class="list-group-item">Photos</li>
                        <li class="list-group-item">Database and backend integration</li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree1">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree1"
                        aria-expanded="false" aria-controls="collapseThree1">
                        Companionship
                    </button>
                </h5>
            </div>
            <div id="collapseThree1" class="collapse" aria-labelledby="headingThree1" data-parent="#accordion1">
                <div class="card-body">

                    <p>
                        It is also possible for a companion app to be developed for your new website or full stack web
                        application. This app will be a complement to your website and will provide your customers with
                        another medium to do business with you. You can get an ecommerce app,
                        that integrates with the same database as your full stack web application ecommerce store, to
                        show the same products and have all the orders come to the same place, from both sources.
                    </p>
                </div>
            </div>
        </div>
    </div>






    <div class="img-bg">
            <div class="container">
        <img src="../../../assets/n.png" alt="" class="fs">
    </div>
    </div>
</section>

<section id="desk">
    <h3 class="text-center">Desktop Application Development</h3>

    <div id="accordion2">
        <div class="card">
            <div class="card-header" id="headingOne2">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne2" aria-expanded="true"
                        aria-controls="collapseOne2">
                        Introduction
                    </button>
                </h5>
            </div>

            <div id="collapseOne2" class="collapse show" aria-labelledby="headingOne2" data-parent="#accordion2">
                <div class="card-body">
                    <p>
                        Desktop application development is the process of undertaking software development to produce an
                        app that works on a desktop machine (Windows, MacOS or Linux). An application of this might be
                        an administerative panel that works on your machine that manipulates that database of your
                        website/mobile app companionship. It could allow you to add products, change prices, review
                        customer account information, change login credentials, perform updates to products or to delete
                        a user. There are alse many other applications of where a desktop application would be useful.
                        Do not fear, we use cross platform languages and frameworks (Java & JavaFX) to produce an
                        application that will work on any operation system mentioned previously aslong as it has Java
                        installed.
                    </p>

                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo2">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo2"
                        aria-expanded="false" aria-controls="collapseTwo2">
                        Content
                    </button>
                </h5>
            </div>
            <div id="collapseTwo2" class="collapse" aria-labelledby="headingTwo2" data-parent="#accordion2">
                <div class="card-body">

                    <h5>Things you can get in your new desktop app</h5>

                    <ul class="list-group">
                        <li class="list-group-item">
                            Menu bar
                        </li>
                        <li class="list-group-item">Status bar</li>
                        <li class="list-group-item">Tabs</li>
                        <li class="list-group-item">Listviews</li>
                        <li class="list-group-item">Labels</li>
                        <li class="list-group-item">Database oriented</li>
                        <li class="list-group-item">Splash screen</li>
                        <li class="list-group-item">Login form</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree2">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree2"
                        aria-expanded="false" aria-controls="collapseThree2">
                        Conclusion
                    </button>
                </h5>
            </div>
            <div id="collapseThree2" class="collapse" aria-labelledby="headingThree2" data-parent="#accordion2">
                <div class="card-body">
                    <p>Desktop application development is useful for someone who wants high security and private access
                        to data. It is also useful for administering other applications data.</p>
                </div>
            </div>
        </div>
    </div>





    <div class="img-bg">
            <div class="container">
        <img src="../../../assets/javafx_nbrcp_mfx_80.png" alt="" class="fs">
    </div>
    </div>
</section>

<section id="graph">
    <h3 class="text-center">Graphic Design</h3>
    <div id="accordion6">
            <div class="card">
              <div class="card-header" id="headingOne6">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne6" aria-expanded="true" aria-controls="collapseOne">
                    Introduction
                  </button>
                </h5>
              </div>
          
              <div id="collapseOne6" class="collapse show" aria-labelledby="headingOne6" data-parent="#accordion6">
                <div class="card-body">
                        <p>
                                Graphic design is the process of using image manipulation software to produce an image. It is particularly
                                useful if you want to create a logo, a banner or video thumbnail. We, at Mup Web Design use Photoshop to create
                                images for your website or marketing campaigns. The possibilities are endless, we can go as far as your
                                imagination can. Images are typically in .jpg, .png or .bmp and each image type has its own applications. PNG is
                                particularly useful when you want an image with a transparent background. This is likely what we will be using
                                to create your logo.
                            </p>                </div>
              </div>

              <div class="card">
                <div class="card-header" id="headingTwo5">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo6" aria-expanded="false" aria-controls="collapseTwo">
                      Features
                    </button>
                  </h5>
                </div>
                <div id="collapseTwo6" class="collapse" aria-labelledby="headingTwo6" data-parent="#accordion6">
                  <div class="card-body">
                          <h5>Products we offer:</h5>
                          <ul class="list-group cons">
                      
                              <li class="list-group-item">
                                  Logos
                              </li>
                              <li class="list-group-item">Banners</li>
                              <li class="list-group-item">Video Thumbnails</li>
                              <li class="list-group-item">Icons</li>
                              <li class="list-group-item">And more!</li>
                          </ul>                
                      </div>
                </div>
              </div>
            </div>
            
          </div>

    
    
          <div class="img-bg">
                <div class="container">
            <img src="../../../assets/ps.png" alt="" class="fs">
        </div>
        </div>
</section>

<section id="con">
    <h3 class="text-center">Consulting
    </h3>
    <div id="accordion5">
            <div class="card">
              <div class="card-header" id="headingOne5">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne5" aria-expanded="true" aria-controls="collapseOne">
                    Introduction
                  </button>
                </h5>
              </div>
          
              <div id="collapseOne5" class="collapse show" aria-labelledby="headingOne5" data-parent="#accordion5">
                <div class="card-body">
                        <p>Over the years, we have gained a lot of experience establishing businesses and creating their digital footprint.
                                We offer consulting services FREE OF CHARGE to help you get your new website or other product you purchase from
                                us, out there into the digital world.</p>                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo5">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo5" aria-expanded="false" aria-controls="collapseTwo">
                    Features
                  </button>
                </h5>
              </div>
              <div id="collapseTwo5" class="collapse" aria-labelledby="headingTwo5" data-parent="#accordion5">
                <div class="card-body">
                        <h5>Things we can help with:</h5>
                        <ul class="list-group cons">
                    
                            <li class="list-group-item">
                                Google Maps listing (Google My Business)
                            </li>
                            <li class="list-group-item">Creative inspiration</li>
                            <li class="list-group-item">Training</li>
                            <li class="list-group-item">Strategy planning</li>
                            <li class="list-group-item">And more!</li>
                        </ul>                
                    </div>
              </div>
            </div>
        
          </div>



    
    
</section>