/* You can add global styles to this file, and also import other style files */
body{
    font-family: "FaktSoft", Helvetica, Arial, sans-serif!important;
    background-color: #e2e2e2
}

@import '~bs-stepper/dist/css/bs-stepper.min.css';

@media (max-width: 768px) {
    html, body {
    width: auto !important;
    overflow-x: hidden !important;
    width: 100vw;
    }
}

body {
    background: linear-gradient(250deg, #e69f08, #8cb8f8, #0de246);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 17s ease infinite;
    -moz-animation: AnimationName 17s ease infinite;
    animation: AnimationName 17s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 4%}
    50%{background-position:100% 97%}
    100%{background-position:0% 4%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 4%}
    50%{background-position:100% 97%}
    100%{background-position:0% 4%}
}
@keyframes AnimationName {
    0%{background-position:0% 4%}
    50%{background-position:100% 97%}
    100%{background-position:0% 4%}
}

html, body {
    width: auto !important;
    overflow-x: hidden !important;
    width: 100vw;
    }


.fa-3x{
    font-size: 24pt;
}

    






   
    
