/* You can add global styles to this file, and also import other style files */
body{
    font-family: "FaktSoft", Helvetica, Arial, sans-serif!important;
  
}

@import '~bs-stepper/dist/css/bs-stepper.min.css';

@media (max-width: 768px) {
    html, body {
    width: auto !important;
    overflow-x: hidden !important;
    }
}


.fa-3x{
    font-size: 24pt;
}

    @keyframes fadeInAnimation { 
        0% { 
            opacity: 0; 
        } 
        100% { 
            opacity: 1; 
         } 
    } 

    body{
        animation: fadeInAnimation ease 8s; 
        animation-iteration-count: 1; 
        animation-fill-mode: forwards; 
    background-color: #e2e2e2
    }
    






   
    
