.full{
    width: 100%;
}

h3{
    margin-top: 25px;
}

.cnt{
    display: block;
    margin: auto;
}

#accordion {
    margin-bottom: 20px;

}
#accordion1 {
    margin-bottom: 20px;

}
#accordion2 {
    margin-bottom: 20px;

}
#accordion3 {
    margin-bottom: 20px;

}
#accordion4 {
    margin-bottom: 20px;

}
#accordion5 {
    margin-bottom: 20px;

}
#accordion6 {
    margin-bottom: 20px;

}

#accordion7 {
    margin-bottom: 20px;

}

#sad{
    margin-bottom: 20px;
}